<nav class="navbar" style="background-color: #379bc2;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: black; font-size: 24px; font-weight: bold;">
      <img src="https://png.pngtree.com/png-vector/20220515/ourmid/pngtree-tv-logo-design-media-white-tv-vector-png-image_46052936.jpg" alt="Logo" width="36" height="30" class="d-inline-block align-text-top">
      TV Series
    </a>
  </div>
</nav>
<app-serie-list></app-serie-list>
<router-outlet></router-outlet>

